name: ns-project CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-node-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        working-directory: app
        run: npm install

      - name: Run tests
        working-directory: app
        run: npm test

  build-docker-image:
    runs-on: ubuntu-latest
    needs: test-node-app

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ns-node-app:ci-test -f docker/Dockerfile .
